<div class="card">

    <a class="img-card" href="{{ path('lesson', {'slug': lesson.slug, 'id': lesson.id}) }}">
        <div class="background-card">
            <img src="{{ asset('assets/img/more.svg') }}" alt="">
        </div>       
        <img class="img-preview" src="{{ vich_uploader_asset(lesson, 'imageFile') }}" alt="">
    </a>   

    <div class="about-card">
        <h2 class="title-card">{{ lesson.title }}</h2>
        <p class="time-card">Créé le {{ lesson.createdAt|date('d/m/Y') }}</p>
        <p>
            {# On slice le contenu de la leçon et on affiche que les 100 premiers caractères #}
            {{lesson.featuredText|striptags|slice(0, 90) ~ '...'  }}</p>
    </div>
    
</div>