<div class="card">
       <div class="about-card">
            <h2 class="title-card">{{ lesson.title }}</h2>
            <p class="time-card">Créé le {{ lesson.createdAt|date('d/m/Y') }}</p>
            <p class="content-card">
            {# On slice le contenu de la leçon et on affiche que les 100 premiers caractères #}
            {{lesson.descText|striptags|slice(0, 90) ~ '...'  }}</p>
            <a href="{{ path( 'lesson', { 'slug':lesson.slug }) }}">
            <button type="button" style="background: {{ category.color|raw }};" >Afficher</button></a>
        </div>
       <div class="img-card"></div>
</div>