<div class="mobile-bloc">
    <a class="burger-menu" href="#">
        <svg class="hidden" width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 16H24V13.3333H0V16ZM0 9.33333H24V6.66667H0V9.33333ZM0 0V2.66667H24V0H0Z" fill="#"/>
        </svg>

    <div class="menu-mobile">
        <a class="close-menu" href="#">
        <svg width="80" height="80" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 4C12.94 4 4 12.94 4 24C4 35.06 12.94 44 24 44C35.06 44 44 35.06 44 24C44 12.94 35.06 4 24 4ZM24 40C15.18 40 8 32.82 8 24C8 15.18 15.18 8 24 8C32.82 8 40 15.18 40 24C40 32.82 32.82 40 24 40ZM31.18 14L24 21.18L16.82 14L14 16.82L21.18 24L14 31.18L16.82 34L24 26.82L31.18 34L34 31.18L26.82 24L34 16.82L31.18 14Z" fill="#"/>
        </svg>
        </a>
                {% if app.user %}
                  <ul>
                      <li>Bonjour {{ app.user.username }} !</li>
                      <li><a href="{{ path('home') }}">Accueil</a></li>
                      <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                      <li><a href="{{ path('category') }}">Nos formations</a></li>
                        {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                        <button type="button"><a href="{{ path('admin') }}">Administration</a></button>
                        {% endif %}
                        <button type="button"><a href="{{ path('learn') }}">Mon compte</a></button>
                  </ul>    
                {% endif %}
                {% if not app.user %}
                  <ul>
                        <li class="current"><a href="{{ path('home') }}">Accueil</a></li>
                        <li><a href="{{ path('login') }}">Se connecter</a></li>
                        <li><a href="{{ path('category') }}">Formations</a></li>
                        <li><a href="{{ path('postulate') }}">Postuler</a></li>
                        <li><a href="{{ path('register') }}">S'inscrire</a></li>

                  </ul>
                {% endif %}
    </div>
    </a>
</div>              
